 {% extends "layout/managedata.html" %} {% block header %} {% block title %}Data Retail{% endblock %} {% endblock %} {% block content %}
<div id="main">
    <div class="px-4">
        <div class="items-center flex-col">
            <h1 class="md:text-xl text-sm font-bold mb-2">Check Point Retail Jabar</h1>
            <h2 class="text-sm font-bold mb-2">Data Retail</h2>
        </div>
        <div class="container mx-auto items-center flex text-xs mb-2">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                <form action="#" method="post" enctype="multipart/form-data">
                    <div class="items-center flex">
                        <label for="file" class="block text-gray-500 text-sm"></label>
                        <input type="file" name="file" accept=".csv" class="py-2 w-32">
                        <div class="items-center flex gap-3">
                            <button type="submit" class="bg-blue-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
                                            Import
                                        </button>
                            <div>
                                <a href="#" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                            Export
                                            </a>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="/process_option" method="POST">
                    <div class="items-center flex text-xs">
                        <select id="dataOption" name="option" class="px-2 py-2 border bg-white">
                            <option value="ikr">Data IKR</option>
                            <option value="tb_retail">Data Retail</option>
                                        </select>
                        <input class="bg-gray-500 text-white hover:bg-slate-400 py-2 px-2 rounded-r" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div id="optionPages" class="w-full mx-auto mt-4 ">
            <div id="pageOption1" class="bg-white border  p-4 rounded-md shadow-md" style="display: none;">
                <div class="overflow-x-auto text-xs">
                    <table id="dataTablePage1" class="table-auto w-full bg-gray-300 rounded-t">
                        <thead>
                            <tr>
                                <th class="px-4 py-2 border">ID Permohonan</th>
                                <th class="px-4 py-2 border">Nama</th>
                                <th class="px-4 py-2 border">Kantor Perwakilan</th>
                                <th class="px-4 py-2 border">Kabupaten</th>
                                <th class="px-4 py-2 border">Layanan</th>
                                <th class="px-4 py-2 border">Kecamatan</th>
                                <th class="px-4 py-2 border">Kelurahan</th>
                                <th class="px-4 py-2 border">ID PLN</th>
                                <th class="px-4 py-2 border">Alamat</th>
                                <th class="px-4 py-2 border">Sumber Permohonan</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for retail in retail %}
                            <tr>
                                <td class="px-4 py-2 border">{{ retail.id_permohonan }}</td>
                                <td class="px-4 py-2 border">{{ retail.nama }}</td>
                                <td class="px-4 py-2 border">{{ retail.kantor_perwakilan }}</td>
                                <td class="px-4 py-2 border">{{ retail.kabupaten }}</td>
                                <td class="px-4 py-2 border">{{ retail.layanan }}</td>
                                <td class="px-4 py-2 border">{{ retail.kecamatan }}</td>
                                <td class="px-4 py-2 border">{{ retail.kelurahan }}</td>
                                <td class="px-4 py-2 border">{{ retail.id_pln }}</td>
                                <td class="px-4 py-2 border">{{ retail.alamat }}</td>
                                <td class="px-4 py-2 border">{{ retail.sumber_permohonan }}</td>
                            </tr>
                            <!-- Add other columns as needed -->

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pageOption2" class="bg-white border  p-4 rounded-md shadow-md" style="display: none;">
                <div class="overflow-x-auto text-xs">
                    <table id="dataTablePage2" class="table-auto w-full bg-gray-300 rounded-t">
                        <thead>
                            <tr>
                                <<th class="px-4 py-2 border">Tgl Bayar</th>
                                    <th class="px-4 py-2 border">Jenis Permohonan</th>
                                    <th class="px-4 py-2 border">Agen</th>
                                    <th class="px-4 py-2 border">Service ID</th>
                                    <th class="px-4 py-2 border">ID PA</th>
                                    <th class="px-4 py-2 border">Mitra Aktivasi</th>
                                    <th class="px-4 py-2 border">Petugas Lapangan</th>
                                    <th class="px-4 py-2 border">Tgl Aktivasi</th>
                                    <th class="px-4 py-2 border">Tgl Batal</th>
                                    <th class="px-4 py-2 border">Splitter ID</th>
                                    <!-- Add more columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for retail in retail %}
                            <tr>

                                <td class="px-4 py-2 border">{{ retail.tgl_bayar }}</td>
                                <td class="px-4 py-2 border">{{ retail.jenis_permohonan }}</td>
                                <td class="px-4 py-2 border">{{ retail.agen }}</td>
                                <td class="px-4 py-2 border">{{ retail.service_id }}</td>
                                <td class="px-4 py-2 border">{{ retail.id_pa }}</td>
                                <td class="px-4 py-2 border">{{ retail.mitra_aktivasi }}</td>
                                <td class="px-4 py-2 border">{{ retail.petugas_lapangan }}</td>
                                <td class="px-4 py-2 border">{{ retail.tgl_aktivasi }}</td>
                                <td class="px-4 py-2 border">{{ retail.tgl_batal }}</td>
                                <td class="px-4 py-2 border">{{ retail.splitter_id }}</td>
                            </tr>
                            <!-- Add other columns as needed -->

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="pageOption3" class="bg-white border  p-4 rounded-md shadow-md" style="display: none;">
                <div class="overflow-x-auto text-xs">
                    <table id="dataTablePage3" class="table-auto w-full bg-gray-300 rounded-t">
                        <thead>
                            <tr>
                                <th class="px-4 py-2 border">IO Number</th>
                                <th class="px-4 py-2 border">Tipe SPA</th>
                                <th class="px-4 py-2 border">Status SPA</th>
                                <th class="px-4 py-2 border">Kendala</th>
                                <th class="px-4 py-2 border">Look Up</th>

                                <!-- Add more columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for retail in retail %}
                            <tr>
                                <td class="px-4 py-2 border">{{ retail.io_number}}</td>
                                <td class="px-4 py-2 border">{{ retail.tipe_spa }}</td>
                                <td class="px-4 py-2 border">{{ retail.status_spa }}</td>
                                <td class="px-4 py-2 border">{{ retail.kendala }}</td>
                                <td class="px-4 py-2 border">{{ retail.look_up }}</td>
                            </tr>
                            <!-- Add other columns as needed -->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="flex justify-end w-full bg-white">
                <button id="prevPage" class="bg-white px-2 hover:bg-gray-400 rounded">
                        <i class='bx bx-chevron-left'></i> Previous
                    </button>
                <div id="pageInfo" class="p-2 text-center bg-white">
                    Page <span id="currentPage">1</span> / <span id="totalPages">2</span>
                </div>
                <button id="nextPage" class="bg-white px-4 hover:bg-gray-400 rounded ">
                        Next <i class='bx bx-chevron-right'></i>
                    </button>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleDropdown(dropdownId) {
        var dropdown = document.getElementById(dropdownId);

        // Check if the dropdown is currently visible
        var isVisible = dropdown.style.display === 'block';

        // Hide all dropdowns
        var allDropdowns = document.getElementsByClassName('dropdown-content');
        for (var i = 0; i < allDropdowns.length; i++) {
            allDropdowns[i].style.display = 'none';
        }

        // Toggle the selected dropdown based on its current visibility
        dropdown.style.display = isVisible ? 'none' : 'block';
    }

    function closeNav() {
        document.getElementById("mySidebar").style.display = "none";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.display = "none";
    }

    function openNav() {
        document.getElementById("mySidebar").style.width = "200px";
        document.getElementById("main").style.marginLeft = "200px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
    $(document).ready(function() {
        $('#dataTablePage1').DataTable({
            responsive: true,
            searching: true,
            paging: true,
            lengthMenu: [10, 20, 50, 100],
            pageLength: 10,
        });
        $('#dataTablePage2').DataTable();
        $('#dataTablePage3').DataTable();
        $('#dataTablePage4').DataTable();
        $('#dataTablePage5').DataTable();

    });
    let currentPage = 1;
    const totalPages = 3; // Assuming there are 4 pages

    function showPage(pageNumber) {
        const allPages = $("#optionPages > div");
        allPages.hide();

        const selectedPage = $(`#pageOption${pageNumber}`);
        if (selectedPage.length) {
            selectedPage.show();
        }

        // Update page info
        $("#currentPage").text(pageNumber);
    }

    $("#prevPage").on("click", function() {
        if (currentPage > 1) {
            currentPage--;
            showPage(currentPage);
        }
    });

    $("#nextPage").on("click", function() {
        if (currentPage < totalPages) {
            currentPage++;
            showPage(currentPage);
        }
    });

    // Initial page display
    showPage(currentPage);
    $("#totalPages").text(totalPages);
</script>

{% endblock %}